:root {
  --primary-text-color: #2e2f42;
  --second-text-color: #434445;
  --brand-color: #4d5ae5;
  --accent-kolor: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.navigation .link-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.link-item:hover,
.link-item:focus {
  color: #404bbf;
}
.contact-adress .page {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.adress-mail:hover,
.adress-mail:focus {
  color: #404bbf;
}
.logo-first {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.logo-second-dark {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.logo-second-light {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.title-hero {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero {
  background: #2e2f42;
}
.btn-hero:hover,
.btn-hero:focus {
  color: #ffffff;
  background: #404bbf;
}
.btn-hero {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
}
